.main-container {
  padding: 0 30px;
  margin-bottom: 50px;
}

.main-container__counter-container {
  width: 100%;
  margin: 5px 0;
}

.main-container__counter-container p {
  font-size: 20px;
  text-align: center;
}

.main-container__btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
